.create-user-modal {
  width: clamp(35rem, 90%, 65.6rem);
  margin-inline: auto;
  padding: 3.4rem 4rem;
  border-radius: 2.4rem;
  background-color: var(--bg-menu);

  .title {
    font-size: var(--fs-700);
    text-transform: uppercase;
  }

  button {
    display: block;
    margin-inline: auto 0;
  }
}
