@forward "utilities";
@forward "components";
@forward "sections";
@forward "pages";
@forward "hoc";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap");

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  color: var(--clr-500);
  background-color: var(--bg);

  .chat-app {
    @media (min-width: 768px) {
      display: flex;
    }
  }

  ::-webkit-scrollbar {
    width: 5px;
    background-color: #00000040;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--bg-text-area);
  }

  .welcome-screen {
    display: grid;
    place-content: center;
    place-items: center;
    width: 100%;
    min-height: 100vh;

    button {
      margin-top: 3rem;

      @media (min-width: 768px) {
        display: none;
      }
    }
  }
}
